/*RESET*/
ul,
li,
menu {
    list-style: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.a-style {
    text-decoration: none;
    color: currentColor;
}


/*LAYOUT*/
.img-size {
    width: 50px;
}

.container-side-bar {
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(12, 2, 61);
    width: 100px;
    height: 100%;
    display: flex;
    flex-shrink: 0;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.w-left {
    width: 60%;
}

.h-70 {
    height: 70px;
}

.cursor :hover {
    background-color: rgb(203, 203, 203);
    padding: 5px;
    transition: 300ms;
}

.h-fit-content {
    height: fit-content;
}

.w-90 {
    width: 90px;
}

.fs-11 {
    font-size: 11px;
}

/*COLORS*/
.orange-bell {
    color: orange;
}

.c-current {
    color: currentColor;
}

.c-white {
    color: white;
}

.bg-blue {
    background-color: rgb(4, 4, 144);
}

/*MEDIA QUERYS*/
@media (min-width:992px) {
    .container-side-bar {
        width: 150px;
    }
}